
.bg-primary{
    background-color: #2B6BCB!important;
}
.text-primary{
    color: #2B6BCB!important;
}
.btn-primary{
    background-color: #2B6BCB!important;
}
.bg-gray{
    background-color:#676161!important;
}
.text-gray{
    color:#676161!important;
}
.bg-grey{
    background-color:rgb(107, 104, 104)!important;
}
.text-grey{
    color:rgb(107, 104, 104)!important;
}
