.bg-gradPrimary{
    background-color: #2B6BCB!important
  }

.btn-gradPrimary{
    background-color:#3562A5;
    color:#fff;
    border:none;
  }
  .form-control::placeholder{
    color: #a7a7a7;
    font-weight: 400;
}
.form-control{
	border-color:#b9b9b95d;
}

.form-control:focus{
	box-shadow: none;
	border-color:#b9b9b98a;
}
