
body{
	font-family: 'Lato', sans-serif;

}
main{
  position: relative;
  background-color: #2B6BCB
}


main .shape{
	background-image: url("../../Assets/shape.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.animation{
	animation: float2 3s ease-in-out infinite;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	animation-name: float2;
}
@keyframes float2 {
	0% {
		transform: translatey(0px);}
	50% {
		transform: translatey(-5px);}

	0% {
		transform: translatey(0px);}
		}
main .shapes {
background-color: #4a4747;
position: absolute;
width: 500px;
height:100%;
top: 0;
right: 0;
border-radius: 50% 0% 0% 50%;


}
*:focus{
	outline: none;
}
a:hover{
	text-decoration:none;
}
.material-icons.md-48 {
    font-size: 60px;
}
.delimiter{
	height: 88vh;
}
article p{
	font-size: 1.125rem;
	color:#4a4747;
	font-weight: 300;
	font-family: 'Encode Sans', sans-serif;
}
article h1{
	font-size: 2.0rem;
	color:rgb(71, 72, 74);

}


.partners{
	background-color: #fff;
}
.partners div.row{
  align-items: center;
  justify-content: center;
}
.partners .cardNull{
  width: 150px;
   height: 100px;
   box-shadow: #bbbba4 0 0 5px;
   margin:1rem 0.5rem;
   align-items: center;
   justify-content: center;
   display: flex;
}
.partners div div div{
  box-shadow: rgba(0,0,0,0.25) 3px 3px 7px;
  width: 120px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
	margin: 5px;
  }
.partners div div img{
width: 100px;
}
.partners div h4{
	padding-top:1.5rem;
	color:rgb(71, 72, 74);
	font-family: 'Encode Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.partners-parceiros{
width: 100px;
height: 100px;
}
.btn-change-partners:focus{
	background-color: #2B6BCB;
	outline: none;
}
.btn-change-partners{
	background-color: rgb(112, 112, 112);
}

.registerapp {
	color:#fff;

	font-size:1.15rem;
}

.btn-create{
	background-color:#8dc63f;
	color:white;
  height: 40px;
}
.btn-create:hover{
	background-color: #80b636;
	color:white;
}
.card-category{
  width: 120px;
  height: 110px;
	background-color: white;
	margin: 5px;
  box-shadow: rgba(0,0,0,0.25) 3px 3px 7px;
	border: none;
	outline: none!important;
}
.card-category svg path,.card-category svg rect{
	fill:#3562A5
}
.card-category p{
	color: #3562A5;

  margin:5px;
  padding: 0;

}

.card-category-active{
	background-color:#3562A5;
}
.card-category-active p{
	color: white;
}


.card-category-active svg path,.card-category-active svg rect{
	fill:#ffffff
}

.step-to-step{
  justify-content: center;
  padding-bottom: 3rem;
}
.step-to-step > div {
  width: 220px;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.229) 0px 0px 5px;
  margin:  10px 10px!important;
  background-color: #52AA4A!important;

}
.step-to-step p{
  font-size: 2rem;
    color: #fff
}




.step-to-step > div div{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 220px;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: .5rem;


}
.step-to-step div div i{
  color:grey!important;
  font-size: 60px!important;


}
.step-to-step div div p{
  color:grey;
  font-family: 'Encode Sans', sans-serif;
  font-size: 1.0rem;
  height: 48px;


}
