<h2> Olá {{ user.shortname }} </h2>
<p>
  Parece que esqueceu sua senha, click no link abaixo para recuperá-la.
</p>
<a href='{{resetPassword}}' target="_blank">link</a>
<span>Se você não realizou essa solicitação desconsidere este e-mail.</span>
