<h2> Olá {{ shortname }} </h2>
<p>
  Parece que esqueceu sua senha, click neste <a href="">link</a> para recuperá-la.
</p>
<span>Se você não realizou essa solicitação desconsidere este e-mail.</span>
