.bg-gradient-primary{
    background-image: linear-gradient(to bottom right, #55ADFF, #1167B7);
  }

.btn-gradient-primary{
    background-image: linear-gradient(to bottom right, #55ADFF, #1167B7)!important;
    border:none;
    color:#fff
  }
input::placeholder{
    font-weight: bold;
}

input#inThumbnail{
display:none
}
